{% extends "base.html" %}
{% load static %}
{% block title %}
Index | Otp
{% endblock title %}

{% block body %}
<div class="container">
  <!-- Sign in Form -->
  <div class="card text-center mx-auto" style="width: 22rem; margin-top: 5rem;">
    <div class="card-header bg-secondary text-light h3">
      <strong style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">Otp varification</strong>
    </div>
    <div class="card-body">
      <!-- Message Display -->
      <div class="row ">
        <div class="col">
          {% if messages %}
          {% for message in messages %}
            <strong>{{message}}</strong>
          {% endfor %}
          {% endif %}
        </div>
      </div>
      <!-- Error Display -->
      <div class="row">
        <div class="col">
          {% if form.errors %}
          {% for field in form %}
          {% for error in field.errors %}
          <div class="alert alert-danger alert-dismissible fade show" role="alert">
            {{error}}
            <button type="button" class="btn-close" data-dismiss="alert" aria-label="Close"></button>
          </div>
          {% endfor %}
          {% endfor %}
          {% endif %}
        </div>
      </div>
      <form class="p-2" method="POST" action="{% url 'otp' %}" novalidate>
        {% csrf_token %}
        <div class="form-group ">
          <input class="form-control" placeholder="Enter otp" autofocus type="text" name="otp">
        </div>
        
        <div class="mt-3">
          <button type="submit" class="btn btn-block btn-warning  ">
            <h6><i class="fas fa-sign-in-alt"></i> Verify OTP</h6>
          </button>
        </div>
        <div class="form-group form-check text-center" style="margin-top: 1rem;">
          <small class="text-primary h6" href="#">If forgot password ? / <a class="text-success h6"
              href="">Reset</a> </small>
        </div>
      </form>
    </div>
    <div class="card-footer bg-secondary  ">
        <small class="text-light h6" href="#">Back to ? /</small>
        <a style="color: #ffad33;" class="h6" href="{% url 'signin' %}">Signin</a> </small>
    </div>
    <div class="card-footer bg-secondary  ">
        <small class="text-light h6" href="#">If new user ? /
        <a style="color: #ffad33;" class="h6" href="{% url 'signup' %}">Signup</a> </small>
    </div>
  </div>

</div>
{% endblock body %}